
eatitServer/.idea/workspace.xml
eatitServer/.idea/modules.xml
eatitServer/.idea/misc.xml
eatitServer/.idea/eatit.iml
eatit/.idea/vcs.xml
eatit/.idea/runConfigurations.xml
eatit/.idea/render.experimental.xml
eatit/.idea/misc.xml
eatit/.idea/gradle.xml
eatit/.idea/encodings.xml
